@import url("https://fonts.googleapis.com/css?family=Poppins");

.App {
  text-align: center;
  font-family: "Poppins";
  font-size: large;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

@media (min-width: 601px) {
  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/background/background.png");
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;

  }
}
